'scopeName': 'source.pcf'
'name': 'PCF'
'fileTypes': [
  'pcf'
]
'patterns': [
  {
    'match': '((#).*$[\\n|\\r|\\r\\n]?)'
    'name': 'comment.line.number-sign.pcf'
  }
  {
    'match': '\\b(set_io)\\s+(--warn-no-port)\\s+(\\w+)\\s+(\\w+)'
    'captures':
        '1':
            'name': 'keyword.other.pcf'
        '2':
            'name': 'entity.name.tag.pcf'
        '3':
            'name': 'variable.parameter.pcf'
        '4':
            'name': 'constant.numeric.pcf'
  }
  {
    'match': '\\b(set_io)\\s+(\\w+)\\s+(\\w+)'
    'captures':
        '1':
            'name': 'keyword.other.pcf'
        '2':
            'name': 'variable.parameter.pcf'
        '3':
            'name': 'constant.numeric.pcf'
  }
  {
    'match': '\\b(set_io)\\s+(--warn-no-port)\\s+'
    'captures':
        '1':
            'name': 'keyword.other.pcf'
        '2':
            'name': 'entity.name.tag.pcf'
  }
  {
    'match': '\\b(set_io)\\s+'
    'name': 'keyword.other.pcf'
  }
]
